<div>
    <h1>Envio de Mensajes con WebSocket</h1>

    <div>
        <p>
            <input id="textoEntrada" type="text">
        </p>

        <h4>Renderizado de mensajes</h4>
        <p id="log"></p>
    </div>
</div>





<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>